.search__bar{
    padding: 0.5rem 1rem;
    border-radius: 50px;
    box-shadow: rgba(17,12,46,0.15) 0px 48px 100px 0px;
    width: max-content;
}
.form__group span{
    font-size: 1.8rem;
    color: #ee6e6e;

}
.form__group input{
    border: none;
    font-size: 0.9rem;
    color: var(--heading-color);
    font-weight: 500;
    margin-right: 0px;
    
}
.form__group input:focus{
    outline: none;
}
.form__group h6 {
    margin-bottom: 0;
}
.form__group-fast{
    border-right: 2px solid #ddd;
}
.form__group:last-child{
    border: none;
}
.search__bar  .form__group:last-of-type{
    border: none;
}
.search__icon i{
    font-size: 1.6rem;
    padding: 0.5rem;
    background: var(--secondary-color);
    color: #fff;
    border-radius: 10px 5px 10px 5px;
    cursor: pointer; 
    margin-right: 10px;  
}



@media only screen and (max-width: 768px){
    .search__bar{
        flex-direction: column;
        gap: 1rem;
        width: 100%;
    }
    .form__group{
        border-right: none;
        border-bottom: 2px solid #ddd;
        padding-bottom: 0.5rem;
    }
    .form__group-fast{
        border-right: none;
    }
    .search__icon{
        align-self: flex-end;
        margin-right: 0px;
    }
}




    